{% extends "layout.html" %}
{% block body %}

<table>
  <tr>
    <th>Task Number</th>
    <th>Task Name</th>
    <th>Task Description</th>
    <th>Edit Task</th>
    <th>Delete Task</th>
  </tr>

  {% for task in tasks %}
    <tr>
      <td name="task_number">{{ loop.index }}</td>
      <td name="task_name">{{ task[1] }}</td>
      <td name="task_description">{{ task[2] }}</td>
      <td><button onclick="edit(this)">Edit</button></td>
      <td><button onclick="deleteTask(this)">Delete</button></td>
    </tr>
  {% endfor %}


</table>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../static/javascript/tasks.js">tasks.js</script>
{% endblock %}
